BasedOnStyle: LLVM
ColumnLimit: 110
IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never

AlignAfterOpenBracket: Align
BinPackArguments: true
BinPackParameters: true
BreakBeforeBinaryOperators: NonAssignment
BreakConstructorInitializers: AfterColon
PackConstructorInitializers: BinPack
ConstructorInitializerIndentWidth: 4
PointerAlignment: Right
ReferenceAlignment: Pointer
SpaceBeforeParens: ControlStatements

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
SortIncludes: Never
